<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="smart cityConnectionString" connectionString="Data Source=PRINCESHAH-PC;Initial Catalog=&quot;smart city&quot;;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<httpRuntime maxRequestLength="10240" />
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
   <sessionState mode="InProc" cookieless="false" timeout="20"></sessionState>
	<pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
